@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "react-toastify/dist/ReactToastify.css";

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-pixelify: "Pixelify Sans", "sans-serif";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.listContainer {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 1000px;
    margin: auto;
}
